* {
    background-color: indigo;
    color: whitesmoke;
}
.bodyMovieById{
    width: 100%;
    height: 600px;
}
.movieById{
    width: 100%;
    display: flex;
}
.movieById>div{
    width: 50%;
    height: 100%;
}
.image{
    display: flex;
    justify-content: center;
    align-items: center;
}
.image>div{
    width: 600px;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nameMovie{
    text-decoration: underline;
}
.detailsMovie>p{
    font-size: 17px;
}
.detailsMovie{
    text-align: center;
    margin: 11px;
    padding-left: 20px;
}
.addtocard{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px;
}
.buttonAdd{
    border: none;
    width: 250px;
    height: 52px;
    font-size: 16px;
    font-weight: bold;
    background-image: linear-gradient(to right, white 0%, white 0%);
    background-size: 0% 100%; /* Start with 0% width */
    background-repeat: no-repeat;
    transition: background-size 0.5s ease;
    background-color: indigo;
    border: 1px solid white;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}
.addtocard :hover{
    color: indigo;
    border-radius: 5px;
    background-size: 100% 100%;
}
img{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}